/* font-family: 'Dongle', sans-serif;
font-family: 'The Nautigal', cursive; */


header{
    background-color: white;
    
}

.logo{
    height: 80px;
    padding: 1em 0 0 0;
}
body{
    font-family: 'Dongle', sans-serif;
}

header h1{
    font-family: 'The Nautigal', cursive;
    font-size: 4em;
    color: rgb(43, 117, 177);
    display: inline-block;
    position: relative;
    bottom: 20px;
    margin-bottom: 0;
}
nav{
    background-color: steelblue;
    
}

nav ul{
    
    
    margin: 0;
    padding: 0;
    list-style: none;
    
}

nav ul li{
    display: inline-block;
    width: 16.3%;
    
}

nav ul li a{
    color: white;
    font-family: 'Dongle', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    font-size: 1.5em;
}

nav ul li a:hover{
    background-color: rgb(52, 94, 129);
    Transition: all 0.5s ease 0s;
}

footer{
    background-color: rgb(219, 219, 219);
    clear: both;
    color: rgb(51, 144, 219);
    font-weight: 500;
    padding: 1em 0;
    margin-top: 0.3em;
    text-align: center;
}

.activo{
    background-color: rgb(52, 94, 129);
}

.holder{
    max-width: 1200px;
    margin: 0 auto;
}

main{
    padding: 10pt 10pt;
}

h2{
    font-family: 'The Nautigal', cursive;
    font-size: 3em;
}

/* inicio home */

.imghome{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.cuerpohome{
    display: inline-flex;
    align-items: center;
}

.loremhome{
    width: 70%;
    font-size: 1.6em;
}
.premiohome{
    width: 30%;
}



/* fin de home */

/* inicio nosotros */

.contenedorstaff{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
}

.cara{
    border-radius: 100%;
   width: 100px;
   margin-top: 0.5em;
}

.nombre{
    font-weight: 700;
    font-size: 1.4em;
}

.cargo{
    font-weight: 700;
    font-size: 1.3em;
    font-style: italic;
    }
.staff{
    width: 22%;
    height: auto;
    font-size: 1.2em;
    border-color:steelblue;
    border-style: solid;
    border-radius: 5%;
    box-shadow: 5px 5px 10px black;
    flex-direction: column;
    text-align: center;
     
}


/* fin nosotros */

/* font-family: 'Dongle', sans-serif;
font-family: 'The Nautigal', cursive; */

/* inicio servicios */

.servicios{
    border-style: solid;
    border-color: #4682b4;
    border-width: 2px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 900px;
    padding: 1em;
    margin-bottom: 0.5em;
}
.servicios .info{
    width: 75%;
}

.servicios img{
    height: 150px;
    border-radius: 10px;
}

.servicios:nth-child(odd) img{
    float: left;
    
}

.servicios:nth-child(even) img{
    float: right;
}

.servicios h4{
    font-family: 'The Nautigal', cursive;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #4682b4 solid;
    color: rgb(23, 76, 175);
}

.servicios p{
    font-size: 1.5em;
}

.servicios:nth-child(odd) .info{
margin-left: 250px; 
}

.servicios:nth-child(odd) h4{
    margin-right: 50px;
}

.servicios:nth-child(odd) p{
    margin-right: 50px;
}